celery[redis]
Django
django-celery-beat
django-ckeditor
django-colorfield
django-jalali
django-jalali-date
django-js-asset
django-storages
django-taggit
djangorestframework
filelock
ghasedak
gunicorn
ipdb
ipython
jdatetime
kavenegar
Pillow
psycopg2-binary
python-telegram-bot
pytz
redis
requests
sorl-thumbnail
sqlparse
virtualenv
xlrd
XlsxWriter

