<!-- Footer -->
{% load static %}
<footer class="page-footer font-small unique-color-dark" style="background-color: #212529;color: white;" dir="rtl">
    {#<footer class="page-footer font-small unique-color-dark" style="background-color: #212529;color: white;display: block; position:fixed;bottom: 0;" dir="rtl">#}

    <div style="background-color: #6351ce;">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-xl-6 text-center" style="text-align: right;">
                    <h6 class="mb-0" dir="rtl">با ما در شبکه های اجتماعی ارتباط برقرار کنید.</h6>
                </div>
                <!-- Grid column -->
                <div class="col-md-6 col-xl-6" style="text-align: left;text-decoration: none">
                    <a href="#" style="font-size: 26px;text-decoration: none">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" style="font-size: 26px;text-decoration: none">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" style="font-size: 26px;text-decoration: none">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#" style="font-size: 26px;text-decoration: none">
                        <i class="fa fa-telegram"></i>
                    </a>
                    <a href="#" style="font-size: 26px;text-decoration: none">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>
            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-5 col-lg-6 col-xl-5 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold" style="text-align: right"> توسعه فناوری و ارتباطات
                    گیلان</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                {#                <p style="text-align: right">شرکت توسعه فناوري و ارتباطات گيلان با مشارکت و همکاري گروهي از متخصصـين#}
                {#                    خبره انفـورماتيک و مشـاوران برجسته، نزديک به يک دهه از فعاليت خود را پشت سرگذاشته و با رعايت اصول#}
                {#                    مشتري مداري، ارتقاء مـدام کيفيت فني سيستم و کنترل دقيق رشد مجموعه براساس وضعيت بـازار توانسته به#}
                {#                    گستـرش سـالانه خوبي دست يابد. آنچه سبب مـوفقيت اين مجمـوعه در طـول اين دوره شده است، ارتبـاط مستقيم#}
                {#                    و تنگاتنگ شـرکت با مشتريان و نگاه خدمتي به مجموعه انفورماتيک کشور بوده است. ديدگاه اين مجموعه در طول#}
                {#                    اين سالها در اين بوده است که بتواند با تلاش خود، هر چه بيشتر در کاهش فشار کاري مديران موفق باشد </p>#}
                <center><img src="{% static 'root/css/arm.png' %}" alt="توسعه فناوری و ارتباطات گیلان" width="100"
                             height="100"></center>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold" style="text-align: right">لینک های مفید</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p style="text-align: right">
                    <a href="/">صفحه اصلی</a>
                </p>
                <p style="text-align: right">
                    <a href="{% url 'accounts:login' %}">حساب کاربری شما</a>
                </p>
                <p style="text-align: right">
                    <a href="{% url 'memorial:dashboard' %}">داشبورد</a>
                </p>
                <p style="text-align: right">
                    <a href="#!">راهنما</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4"  style="text-align: right" dir="ltr">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold" style="text-align: right">ارتباط با ما</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; ">
                <p dir="ltr" style="text-align: right">
                    <i class="fa fa-home mr-3"></i> ایران - گیلان </p>
{#                <p style="text-align: right">#}
{#                    <i class="fa fa-envelope mr-3"></i> info@pord.ir </p>#}
{#                <p dir="ltr" style="text-align: right">#}
{#                    <i class="fa fa-phone mr-3"></i> + 98 911 810 3094</p>#}
                <p dir="ltr" style="text-align: right">
                    <i class="fa fa-phone mr-3"></i>01333226475</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">2020 ©
        <a href="http://www.fanavari-guilan.com/"> شرکت توسعه فناوری و ارتباطات گيلان </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->