{% load i18n %}
{% load static %}
<div class="row">
    <div class="col-md-3 col-sm-1"></div>
    <div class="col-md-6 col-sm-10" style="margin-top: 10px;">
        <div class="animated rubberBand"
             style="background: #2c3e50; border-radius: 5px; padding: 20px; color: #ffffff;">
            <div>
                <div class="row">
                    <div class="col-md-4" dir="rtl"><p class="totalshow">{% trans 'Total Salavat:' %}</p>
                    </div>

                    <div class="col-md-4" dir="rtl"><p class="totalshow">{% trans 'Total Fatehe:' %}</p>
                    </div>

                    <div class="col-md-4" dir="rtl"><p class="totalshow">{% trans 'Total Khatm:' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-1"></div>
</div>