<div class="row">
    <div class="col-md-3 col-sm-1"></div>
    <div class="col-md-6 col-sm-10" style="margin-top: 10px;">
        <div class="animated rubberBand"
             style="background: #2c3e50; border-radius: 5px; padding: 20px; color: #ffffff;">
            <div class="shineTexts" style="padding: 20px 0 20px 0">
                <h4 style="text-align: center;">
                    سامانه یادبود مجازی
                </h4>
            </div>
            <div style="text-align: center; color: #1fffb6" dir="rtl">
                {% if user.user.is_authenticated  %}
                <p>
                    کاربر گرامی <b style="color: #4acdff">{{ user.name}}</b> به صفحه خود خوش آمدید.</p>
                {% else %}
                    <p>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-1"></div>
</div>