{% extends 'base.html' %}
{% load jformat %}
{% load static %}
{% load i18n %}
{% block title %}لیست یادبودهای ایجاد شده |{% endblock title %}
{% block head %} {% endblock head %}
{% block body %}
    {% if allObj == 0 %}
        {% include 'memorial/dash-head.html' %}
        <div class="row">
            <div class="col-md-3 col-sm-1"></div>
            <div class="col-md-6 col-sm-10" style="margin-top: 10px;">
                <div class="animated rubberBand"
                     style="background: #2c3e50; border-radius: 5px; padding: 20px; color: #ffffff;">
                    <div style="text-align: center; color: #d9ff00" dir="rtl">
                        <p>
                            کاربر گرامی شما هیچ صفحه یاد بودی ایجاد نکرده اید
                        </p>
                        <p>
                            شما به راحتی می توانید با استفاده از کلید افزودن مرحوم جدید صفحه یاد بود ایجاد کنید
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-1"></div>
            <div class="col-md-6 col-sm-10" style="margin-top: 10px;">
                <div class="animated rubberBand"
                     style="background: #2c3e50; border-radius: 5px; padding: 20px; color: #ffffff;">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <a href="{% url 'memorial:add_Deveased' %}" style="text-decoration:none"
                               data-toggle="tooltip" title="افزودن صفحه یادبود مرحوم جدید">
                                <button type="submit"
                                        class="btn btn-warning btn-block">{% trans "افزودن مرحوم جدید" %}</button>
                            </a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-1"></div>
        </div>

    {% else %}
        {% for marhom in objects %}
            <div class="row">
                <div class="col-md-3 col-sm-1"></div>
                <div class="col-md-6 col-sm-10" style="margin-top: 10px;">
                    <div class="animated rubberBand"
                         style="background: #2c3e50; border-radius: 5px; padding: 20px; color: #ffffff;">
                        <div style="text-align: center; color: #faf5bb" dir="rtl">
                            <div class="row">
                                <div class="col-xl-4 col-sm-4" style="alignment: center">
                                    {% if marhom.picture %}
                                        <img src="{{ marhom.picture.url }}" alt="{{ marhom.name }}" height="168px"
                                             width="168px" class="rounded">
                                    {% else %}
                                        <img src="{% static 'memorial/pic/rajeon.jpg' %}" alt="{{ marhom.name }}"
                                             height="168px" width="168px" class="rounded">
                                    {% endif %}
                                </div>
                                <div class="col-xl-8 col-sm-8" style="text-align: right" dir="rtl">
                                    <div class="row">
                                        <div class="col-xl-7 col-sm-7 col-7">
                                            <span style="color: #7f82ef">نام: </span><span
                                                style="color: #34fc66">{{ marhom.name }}</span>
                                        </div>
                                        <div class="col-xl-5 col-sm-5 col-5">
                                            <span style="color: #7f82ef">کد مرحوم: </span><span
                                                style="color: #34fc66">{{ marhom.id }}</span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xl-7 col-sm-7 col-7">
                                            <span style="color: #7f82ef">تاریخ ایجاد: </span><span
                                                style="color: #34fc66">{{ marhom.created|jformat:"%d-%m-%Y" }}</span>
                                        </div>
                                        <div class="col-xl-5 col-sm-5 col-5">
                                            <span style="color: #7f82ef">وضعیت: </span>
                                            {% if marhom.status == 'active' %}
                                                <span style="color: #34fc66">فعال</span>
                                            {% elif marhom.status == 'inactive' %}
                                                <span style="color: #ff0a22">غیرفعال</span>
                                            {% elif marhom.status == 'pending' %}
                                                <span style="color: #ffc514">در انتظار بررسی</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xl-7 col-sm-7 col-7">
                                            <span style="color: #7f82ef">استان: </span><span
                                                style="color: #34fc66">{{ marhom.state }}</span>
                                        </div>
                                        <div class="col-xl-5 col-sm-5 col-5">
                                            <span style="color: #7f82ef">شهر: </span>
                                            <span style="color: #34fc66">{{ marhom.city }}</span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xl-4 col-sm-4 col-4">
                                            <a class="btn btn-primary btn-xs btn-block"
                                               href="{% url 'memorial:edit_Deveased' id=marhom.id %}"
                                               style="color: black" data-toggle="tooltip"
                                               title="برای ویرایش صفحه این یادبود کلیک کنید">{% trans "Edit" %}</a>
                                        </div>
                                        <div class="col-xl-4 col-sm-4 col-4">
                                            {% if marhom.status == 'active' %}
                                                <a class="btn btn-warning btn-xs btn-block" target="_blank"
                                                   href="{% url 'memorial:view_Deveased' pk=marhom.id %}"
                                                   style="color: black" data-toggle="tooltip"
                                                   title="برای مشاهده صفحه یادبود کلیک کنید">{% trans "View" %}</a>
                                            {% endif %}
                                        </div>
                                        <div class="col-xl-4 col-sm-4 col-4">
                                            <button class="btn btn-danger btn-xs btn-block" data-toggle="modal"
                                                    data-target="#myModal" id="{{ marhom.id }}"
                                                    value="{{ marhom.name }}"
                                                    style="color: black" onClick="reply_click(this.id,this.value)"
                                                    data-toggle="tooltip"
                                                    title="برای حذف این صفحه یادبود کلیک کنید">{% trans "Delete" %}</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-1"></div>
            </div>
        {% endfor %}
    {% endif %}

    {% include 'memorial/del_model.html' %}
    <br>
    {% if allObj > 5 %}
        {% include 'partials/pagination.html' %}
    {% endif %}
{% endblock body %}