{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Edit Deveased' %} | {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'memorial/css/deveased_create.css' %}">
    <script language="javascript" src="{% static 'memorial/js/city.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'memorial/customInput/css/component.css' %}"/>
{% endblock %}
{% block body %}
    <div class="row" dir="rtl" style="text-align: right">
        <div class="col-md-3 col-sm-1"></div>
        <div class="col-md-6 col-sm-10" style="margin-top: 10px;">
            <div class="animated rubberBand"
                 style="background: #2c3e50; border-radius: 5px; padding: 15px; color: #ffffff;">
                <div class="form-group" style="margin-top: 20px">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p>
                                    <label for="{{ form.state.id_for_label }}">{{ form.state.label }}:</label>
                                    {{ form.state }}
                                    {{ form.state.errors }}
                                </p>
                                <p>
                                    <label for="{{ form.city.id_for_label }}">{{ form.city.label }}:</label>
                                    {{ form.city }}
                                    {{ form.city.errors }}
                                </p>
                                <div style="padding: 5px;">
                                    {% if form.picture.value %}
                                        <center><img src="{% get_media_prefix %}{{ form.picture.value }}"
                                                     alt="تصویر پیش فرض" width="60%"
                                                     height="60%" class="rounded"><br>
                                        </center>
                                    {% else %}
                                        <center><img src="{% static 'memorial/pic/rajeon.jpg' %}" alt="تصویر فعلی"
                                                     width="60%"
                                                     height="60%" class="rounded"><br>
                                        </center>
                                    {% endif %}
                                </div>
                                <p>
                                    <label>{{ form.picture.label }}:</label><br>
                                    <input type="file" name="{{ form.picture.name }}"
                                           id="{{ form.picture.id_for_label }}"
                                           class="inputfile inputfile-1" style="display:none"
                                           accept="image/*"/>
                                    <label for="{{ form.picture.id_for_label }}">
                                        <span>بارگزاری تصویر جدید</span></label>
                                    {{ form.picture.errors }}
                                </p>
                                <p>

                                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
                                    {{ form.title }}
                                    {{ form.title.errors }}
                                </p>
                                <p>
                                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
                                    {{ form.name }}
                                    {{ form.name.errors }}
                                </p>
                                <p>
                                    <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}:</label>
                                    {{ form.gender }}
                                    {{ form.gender.errors }}
                                </p>
                                <p>
                                    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}:</label>
                                    {{ form.description }}
                                    {{ form.description.errors }}
                                </p>
                                <p>
                                    <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                                    {{ form.address }}
                                    {{ form.address.errors }}
                                </p>
                                <p>
                                    <label for="{{ form.datedied.id_for_label }}">{% trans 'Date died' %}: </label>
                                    {{ form.datedied }}
                                    {{ form.datedied.errors }}
                                </p>

                                <table class="table table-striped" style="color: #9fcdff; text-align: left">
                                    <thead>
                                    <tr>
                                        <span style="color: #9bf3b1">
       شما میتوانید با تیک  زدن هر یک از امکانات زیر آن ها را به صفحه یادبود مرحوم اضافه کنید.
                                        </span>
                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.fatehe_chk.id_for_label }}"
                                                       name="{{ form.fatehe_chk.name }}"
                                                        {% if form.fatehe_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.fatehe_chk.id_for_label }}">{{ form.fatehe_chk.label }}:</label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.salavat_chk.id_for_label }}"
                                                       name="{{ form.salavat_chk.name }}"
                                                        {% if form.salavat_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.salavat_chk.id_for_label }}">{{ form.salavat_chk.label }}:</label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.quran_chk.id_for_label }}"
                                                       name="{{ form.quran_chk.name }}"
                                                        {% if form.quran_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.quran_chk.id_for_label }}">{{ form.quran_chk.label }}:</label>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.ashora_chk.id_for_label }}"
                                                       name="{{ form.ashora_chk.name }}"
                                                        {% if form.ashora_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.ashora_chk.id_for_label }}">{{ form.ashora_chk.label }}:</label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.arbain_chk.id_for_label }}"
                                                       name="{{ form.arbain_chk.name }}"
                                                        {% if form.arbain_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.arbain_chk.id_for_label }}">{{ form.arbain_chk.label }}:</label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.ahd_chk.id_for_label }}"
                                                       name="{{ form.ahd_chk.name }}"
                                                        {% if form.ahd_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.ahd_chk.id_for_label }}">{{ form.ahd_chk.label }}:</label>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.aye_chk.id_for_label }}"
                                                       name="{{ form.aye_chk.name }}"
                                                        {% if form.aye_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.aye_chk.id_for_label }}">{{ form.aye_chk.label }}:</label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.sahifeh_chk.id_for_label }}"
                                                       name="{{ form.sahifeh_chk.name }}"
                                                        {% if form.sahifeh_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.sahifeh_chk.id_for_label }}">{{ form.sahifeh_chk.label }}:</label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.komil_chk.id_for_label }}"
                                                       name="{{ form.komil_chk.name }}"
                                                        {% if form.komil_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.komil_chk.id_for_label }}">{{ form.komil_chk.label }}:</label>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.rahman_chk.id_for_label }}"
                                                       name="{{ form.rahman_chk.name }}"
                                                        {% if form.rahman_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.rahman_chk.id_for_label }}">{{ form.rahman_chk.label }}:</label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.yasin_chk.id_for_label }}"
                                                       name="{{ form.yasin_chk.name }}"
                                                        {% if form.yasin_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.yasin_chk.id_for_label }}">{{ form.yasin_chk.label }}:</label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="{{ form.molk_chk.id_for_label }}"
                                                       name="{{ form.molk_chk.name }}"
                                                        {% if form.molk_chk.value %}
                                                       checked
                                                        {% endif %}>
                                                <label class="custom-control-label" type="checkbox"
                                                       for="{{ form.molk_chk.id_for_label }}">{{ form.molk_chk.label }}:</label>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <input type="submit" value="{% trans 'Edit' %}" class="btn btn-success btn-block">
                            </div>
                            <div class="col-md-5">
                                <a href="{% url 'memorial:list_Deveased' %}" style="text-decoration: None">
                                    <button type="button" value=""
                                            class="btn btn-warning btn-block">{% trans 'Cancel' %}</button>
                                </a>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-1"></div>
    </div>
    <script src="{% static 'memorial/customInput/js/custom-file-input.js' %}"></script>
{% endblock %}
