{% load static %}
{% load i18n %}
{% load thumbnail %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="fa-IR"/>
    <meta name="robots" content="index, follow">
    {#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>#}
    <meta name="description" content="سامانه یادبود مجازی/یادبود آنلاین/ختم آنلاین/ختم مجازی"/>
    <meta name="keywords" content="برای شادی روح , {{ deveased.title }} , {{ deveased.name }}"/>
    <meta name="author" content="توسعه فناوری و ارتباطات گیلان"/>
    <meta property="og:title" content="{{ deveased.title }} {{ deveased.name }}">
    <meta property="og:description" content="{{ deveased.description }}">

    {% thumbnail deveased.picture "250x250" as im %}
        <meta property="og:image" content="{{ im.url }}">
    {% endthumbnail %}

    <meta property="og:url" content="{{ Site }}/{{ deveased.id }}">

    <link rel="stylesheet" href="{% static 'root/bs/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'root/css/basebody.css' %}"/>
    <link rel="stylesheet" href="{% static 'memorial/css/detail.css' %}"/>

    <title>{{ deveased.title }} {{ deveased.name }}</title>
</head>
<body dir="ltr" class="bkg" style="margin-top: 20px">
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 col-sm-2"></div>
        <div class="col-xl-8 col-sm-8">
            <div class="animated rubberBand border"
                 style="background: #000000 ; border-radius: 5px; padding: 15px; color: #ffffff;">
                {# marhom title and name #}
                <div class="row">
                    <div class="col-xl-12 col-sm-12" style=""><img
                            src="{% static 'memorial/pic/ena.jpg' %}" height="90%" width="90%" alt="" class="rounded"
                            style="display: block; margin-left: auto; margin-right: auto; width: 50%;overflow: auto;">
                    </div>
                    <br>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-1 col-sm-1"></div>
                    <div class="col-xl-10 col-sm-10 rounded border border-secondar"
                         style="text-align: center; background-color:  #423f3e ; padding: 15px 0 20px 0;font-weight: bold;">
                        {{ deveased.title }} {% if deveased.gender == 'male' %} آقای {% else %}
                        خانوم {% endif %}{{ deveased.name }}
                    </div>
                    <div class="col-xl-1 col-sm-1"></div>
                </div>
                <br>
                {# marhom title and name #}
                {# marhom picture #}
                <div class="row">
                    <div class="col-xl-12 col-sm-12" style="padding:15px 15px 15px 15px">
                        {% if deveased.picture %}
                            <img src="{{ deveased.picture.url }}" width="100%" height="100%" alt="{{ deveased.name }}"
                                 class="rounded"
                                 style="display: block; margin-left: auto; margin-right: auto; width: 60%;overflow: auto">
                        {% else %}
                            <img src="{% static 'memorial/pic/rajeon.jpg' %}" width="100%" height="100%"
                                 alt="{{ deveased.name }}"
                                 class="rounded"
                                 style="display: block; margin-left: auto; margin-right: auto; width: 60%;overflow: auto">
                        {% endif %}
                        <hr style="border:1px solid green;border-radius:2px;">
                    </div>
                </div>
                <br>
                {# marhom picture #}
                {# description and address #}
                {% if deveased.description or deveased.address %}
                    <div class="row">
                        <div class="col-xl-1 col-sm-1"></div>
                        <div class="col-xl-10 col-sm-10" dir="rtl" style="text-align: right;color: white">
                            <div class="animated rubberBand border"
                                 style="background: #000000 ; border-radius: 5px; padding: 15px; color: #ffffff;">
                                <p>{{ deveased.description }}</p>
                                {% if deveased.datedied %}
                                    <p><span
                                            style="color: #91bc02">تاریخ درگذشت: </span><span>{{ deveased.datedied.year }}/{{ deveased.datedied.month }}/{{ deveased.datedied.day }}</span>
                                    </p>
                                {% endif %}
                                <p>
                                    <span style="color: #91bc02">آدرس آرمگاه: </span>{{ deveased.address }}
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-1 col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-sm-12">
                            <hr style="border: 1px solid green; border-radius: 2px;">
                        </div>
                    </div>
                {% endif %}
                {# description and address #}
                {# buttons fatehe salavat ashora arbaiin #}
                {% if btnCount != 0 %}
                    {% if btnCount >= 1 %}
                        {% if btns.s >= 0 or btns.f >= 0 %}
                            <div class="row">
                            <div class="col-xl-1 col-sm-1 col-1"></div>
                            {% if deveased.salavat_chk %}
                                {% if deveased.fatehe_chk %}
                                    <div class="col-xl-5 col-sm-5 col-5">
                                {% else %}
                                    <div class="col-xl-10 col-sm-10 col-10">
                                {% endif %}
                            <button type="submit" id="salavat-btn" data-id="{{ deveased.id }}"
                                    class="btn btn-primary btn-block">صلوات: <span
                                    style="color: #00ff30; font-weight: bold"
                                    id="salavat-count">{{ btns.s }}</span>
                            </button>
                            </div>
                            {% endif %}
                            {% if deveased.fatehe_chk %}
                                {% if deveased.salavat_chk %}
                                    <div class="col-xl-5 col-sm-5 col-5">
                                {% else %}
                                    <div class="col-xl-10 col-sm-10 col-10">
                                {% endif %}
                            <button type="submit" id="fatehe-btn" data-id="{{ deveased.id }}"
                                    class="btn btn-primary btn-block"><span class="btn-primary"
                                                                            style="font-size: 70%">قرائت</span> فاتحه:
                                <span
                                        style="color: #00ff30; font-weight: bold" id="fatehe-count">{{ btns.f }}</span>
                            </button>
                            </div>
                            {% endif %}
                        <div class="col-xl-1 col-sm-1 col-1"></div>
                        </div>
                            <br>
                        {% endif %}
                        {% if btns.ar >= 0 or btns.ash >= 0 %}
                            <div class="row">
                            <div class="col-xl-1 col-sm-1 col-1"></div>
                            {% if deveased.ashora_chk %}
                                {% if deveased.arbain_chk %}
                                    <div class="col-xl-5 col-sm-5 col-5">
                                {% else %}
                                    <div class="col-xl-10 col-sm-10 col-5">
                                {% endif %}
                            <button type="submit" id="ashora-btn" data-id="{{ deveased.id }}"
                                    class="btn btn-success btn-block"> زیارت عاشورا: <span
                                    style="color: #3c1600; font-weight: bold" id="ashora-count">{{ btns.ash }}</span>
                            </button>
                            </div>
                            {% endif %}
                            {% if deveased.arbain_chk %}
                                {% if deveased.ashora_chk %}
                                    <div class="col-xl-5 col-sm-5 col-5">
                                {% else %}
                                    <div class="col-xl-10 col-sm-10 col-10">
                                {% endif %}
                            <button type="submit" id="arbain-btn" data-id="{{ deveased.id }}"
                                    class="btn btn-success btn-block"> زیارت اربعین: <span
                                    style="color: #3c1600; font-weight: bold" id="arbain-count">{{ btns.ar }}</span>
                            </button>
                            </div>
                            {% endif %}
                        <div class="col-xl-1 col-sm-1 col-1"></div>
                        </div>
                            <br>
                        {% endif %}
                        <p dir="rtl" style="text-align: center;color:#98fff5;font-weight: bold;font-size: 12px">لطفا بعد
                            از نثار صلوات و
                            فاتحه و زیارت ها بر روی دکمه های مربوطه کلیک کنید. </p>
                    {% endif %}
                {% endif %}
                {# buttons fatehe salavat ashora arbaiin #}
                {# 30 joze gquran #}
                {% if deveased.quran_chk %}
                    <div class="row">
                        <div class="col-xl-12 col-sm-12">
                            <hr style="border: 1px solid green; border-radius: 2px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-1 col-sm-1"></div>
                        <div class="col-xl-10 col-sm-10 border border-warning" style="border-radius: 10px">
                            <p dir="rtl" style="text-align: center;padding: 10px 10px 0 10px">
                                تعداد دفعات ختم قران <span
                                    style="color: #38ff00; font-weight: bold;font-size: 20px"
                                    id="khatm-count"> {{ btns.q }} </span>
                                بارمی باشد</p>
                            <p style="text-align: center;"> جهت تسریع در ختم قرآن کریم
                                پیشنهاد میشود حضرتعالی
                                جزء شماره <span style="color: #ff0046;font-size: 20px; font-weight: bold"
                                                id="offer"> {{ offer }} </span>
                                را قرائت بفرمایید.
                            </p>
                            <p dir="rtl"
                               style="text-align: center; font-size: 13px;color: #7abaff;font-weight: bold;padding: 10px 10px 0 10px">
                                لطفا با کلیک بر روی دکمه سبز رنگ مربوط به هر جزء ، آمادگی خود را اعلام کنید
                            </p>
                        </div>
                        <div class="col-xl-1 col-sm-1"></div>
                    </div>
                    <div>
                        {% for jz in btns.joz %}
                            <div class="row" style="padding: 10px 10px 10px 10px">
                                <div class="col-xl-1 col-sm-1"></div>
                                <div class="col-xl-10 col-sm-10"
                                     style="justify-content: center;align-items: center;display: flex">
                                    <audio controls title="جز {{ forloop.counter }}">
                                        <source
                                                {# src="https://s1.mosalman.net/ghoran/tartil/joze/parhizgar/parhizgar{{ forloop.counter }}.mp3"#}
                                                src="http://file.idars.ir/iporse/quran/j{{ forloop.counter }}.mp3"
                                                type="audio/mpeg">
                                    </audio>
                                </div>
                                <div class="col-xl-1 col-sm-1"></div>
                            </div>
                            <div class="row" style="padding: 10px 10px 10px 10px">
                                <div class="col-xl-2 col-sm-2"></div>
                                <div class="col-xl-8 col-sm-8">
                                    <button type="submit" id="btn-joz{{ forloop.counter }}" data-id="{{ deveased.id }}"
                                            class="btn btn-success btn-block"> قرائت جز <span
                                            style="color: #3c1600; font-weight: bold">{{ forloop.counter }}</span> را من
                                        تقبل میکنم. (خوانده شده:
                                        <span id="joz{{ forloop.counter }}-count" style="color: #ff4700">{{ jz }}</span>
                                        بار)
                                    </button>
                                </div>
                                <div class="col-xl-2 col-sm-2"></div>
                            </div>
                        {% endfor %}
                    </div>

                    {#                    <div class="row">#}
                    {#                        <div class="col-xl-12 col-sm-12">#}
                    {#                            <hr style="border: 1px solid green; border-radius: 2px;">#}
                    {#                        </div>#}
                    {#                    </div>#}
                {% endif %}
                {# 30 joze gquran #}
                {# hr Line #}
                {% if deveased.komil_chk or deveased.ahd_chk or deveased.aye_chk or deveased.arbain_chk or deveased.ashora_chk or deveased.rahman_chk or deveased.yasin_chk or deveased.molk_chk %}
                    <div class="row">
                        <div class="col-xl-12 col-sm-12">
                            <hr style="border: 1px solid green; border-radius: 2px;">
                        </div>
                    </div>
                {% endif %}
                {# hr Line #}
                {# rahman #}
                {% if deveased.rahman_chk %}
                    <div class="row">
                        <div class="col-xl-2 col-sm-2"></div>
                        <div class="col-xl-8 col-sm-8" dir="rtl" style="text-align: right;color: white">
                            <div class="animated rubberBand"
                                 style="background: #000000 ; border-radius: 5px; padding: 15px; color: #ffffff;">
                                <p style="text-align: center">سوره الرحمن :</p>
                                <div style="justify-content: center;align-items: center;display: flex">
                                    <audio controls title="سوره الرحمن">
                                        <source
                                                src="http://file.idars.ir/iporse/soore_arrahman.mp3"
                                                type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-2"></div>
                    </div>
                {% endif %}
                {# rahman #}
                {# Yasin #}
                {% if deveased.yasin_chk %}
                    <div class="row">
                        <div class="col-xl-2 col-sm-2"></div>
                        <div class="col-xl-8 col-sm-8" dir="rtl" style="text-align: right;color: white">
                            <div class="animated rubberBand"
                                 style="background: #000000 ; border-radius: 5px; padding: 15px; color: #ffffff;">
                                <p style="text-align: center">سوره یاسین :</p>
                                <div style="justify-content: center;align-items: center;display: flex">
                                    <audio controls title="سوره یاسین">
                                        <source
                                                src="http://file.idars.ir/iporse/soore_yasin.mp3"
                                                type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-2"></div>
                    </div>
                {% endif %}
                {# Yasin #}
                {# molk #}
                {% if deveased.molk_chk %}
                    <div class="row">
                        <div class="col-xl-2 col-sm-2"></div>
                        <div class="col-xl-8 col-sm-8" dir="rtl" style="text-align: right;color: white">
                            <div class="animated rubberBand"
                                 style="background: #000000 ; border-radius: 5px; padding: 15px; color: #ffffff;">
                                <p style="text-align: center">سوره ملک :</p>
                                <div style="justify-content: center;align-items: center;display: flex">
                                    <audio controls title="سوره ملک">
                                        <source
                                                src="http://file.idars.ir/iporse/soore_molk.mp3"
                                                type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-2"></div>
                    </div>
                {% endif %}
                {# molk #}
                {# doa komil #}
                {% if deveased.komil_chk %}
                    <div class="row">
                        <div class="col-xl-2 col-sm-2"></div>
                        <div class="col-xl-8 col-sm-8" dir="rtl" style="text-align: right;color: white">
                            <div class="animated rubberBand"
                                 style="background: #000000 ; border-radius: 5px; padding: 15px; color: #ffffff;">
                                <p style="text-align: center">دعای کمیل:</p>
                                <div style="justify-content: center;align-items: center;display: flex">
                                    <audio controls title="دعای کمیل">
                                        <source
                                                src="http://file.idars.ir/iporse/doa_komeil.mp3"
                                                type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-2"></div>
                    </div>
                {% endif %}
                {# doa komil #}
                {# doa ahad #}
                {% if deveased.ahd_chk %}
                    <div class="row">
                        <div class="col-xl-2 col-sm-2"></div>
                        <div class="col-xl-8 col-sm-8" dir="rtl" style="text-align: right;color: white">
                            <div class="animated rubberBand"
                                 style="background: #000000 ; border-radius: 5px; padding: 15px; color: #ffffff;">
                                <p style="text-align: center">دعای عهد:</p>
                                <div style="justify-content: center;align-items: center;display: flex">
                                    <audio controls title="دعای عهد">
                                        <source
                                                src="http://file.idars.ir/iporse/doa_ahd.mp3"
                                                type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-2"></div>
                    </div>
                {% endif %}
                {# doa ahad #}
                {# doa aye  #}
                {% if deveased.aye_chk %}
                    <div class="row">
                        <div class="col-xl-2 col-sm-2"></div>
                        <div class="col-xl-8 col-sm-8" dir="rtl" style="text-align: right;color: white">
                            <div class="animated rubberBand"
                                 style="background: #000000 ; border-radius: 5px; padding: 15px; color: #ffffff;">
                                <p style="text-align: center">آیت الکرسی:</p>
                                <div style="justify-content: center;align-items: center;display: flex">
                                    <audio controls title="آیت الکرسی">
                                        <source
                                                src="http://file.idars.ir/iporse/aiatolkorsi.mp3"
                                                type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-2"></div>
                    </div>
                {% endif %}
                {# doa aye  #}
                {# ziarat ashora #}
                {% if deveased.ashora_chk %}
                    <div class="row">
                        <div class="col-xl-2 col-sm-2"></div>
                        <div class="col-xl-8 col-sm-8" dir="rtl" style="text-align: right;color: white">
                            <div class="animated rubberBand"
                                 style="background: #000000 ; border-radius: 5px; padding: 15px; color: #ffffff;">
                                <p style="text-align: center">زیارت عاشورا:</p>
                                <div style="justify-content: center;align-items: center;display: flex">
                                    <audio controls title="زیارت عاشورا">
                                        <source
                                                src="http://file.idars.ir/iporse/ziarat_ashoora_fani.mp3"
                                                type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-2"></div>
                    </div>
                {% endif %}
                {# ziarat ashora #}
                {# ziarat arbaein #}
                {% if deveased.arbain_chk %}
                    <div class="row">
                        <div class="col-xl-2 col-sm-2"></div>
                        <div class="col-xl-8 col-sm-8" dir="rtl" style="text-align: right;color: white">
                            <div class="animated rubberBand"
                                 style="background: #000000 ; border-radius: 5px; padding: 15px; color: #ffffff;">
                                <p style="text-align: center">زیارت اربعین:</p>
                                <div style="justify-content: center;align-items: center;display: flex">
                                    <audio controls title="زیارت اربعین">
                                        <source
                                                src="http://file.idars.ir/iporse/ziarat_arbaien_mirdamad.mp3"
                                                type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-2"></div>
                    </div>
                {% endif %}
                {# ziarat arbaein #}
                {# Doaie Sahifie Sajadie #}
                {% if deveased.sahifeh_chk %}
                    <div class="row">
                        <div class="col-xl-2 col-sm-2"></div>
                        <div class="col-xl-8 col-sm-8" dir="rtl" style="text-align: right;color: white">
                            <div class="animated rubberBand"
                                 style="background: #000000 ; border-radius: 5px; padding: 15px; color: #ffffff;">
                                <p style="text-align: center">دعای هفتم صحیفه سجادیه :</p>
                                <div style="justify-content: center;align-items: center;display: flex">
                                    <video title="دعای هفتم صحیفه سجادیه" class="img-responsive" controls=""
                                           width="80%">
                                        <source
                                                src="http://file.idars.ir/iporse/7sajadie.mp4"
                                                type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-2"></div>
                    </div>
                {% endif %}
                {# Doaie Sahifie Sajadie #}
                {# Deveased Share Link #}
                <div class="row">
                    <div class="col-xl-12 col-sm-12">
                        <hr style="border: 1px solid green; border-radius: 2px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2 col-sm-2"></div>
                    <div class="col-xl-8 col-sm-8" dir="rtl" style="text-align: right;color: white">
                        <div class="animated rubberBand border border-info"
                             style="background: #000000 ;border-color: #4acdff; border-radius: 5px; padding: 15px; color: #ffffff;">
                            <p style="text-align: center">با نگه داشتن انگشت خود بر روی لینک زرد رنگ زیر و زدن گزینه -
                                Share Link - میتوانید آن در شبکه های اجتماعی منتشر کنید</p>
                            <div style="justify-content: center;align-items: center;display: flex">
                                <a id="ShareLink"
                                   href="http://{{ SITE_ADDRESS }}/{{ deveased.id }}">{{ SITE_ADDRESS }}/{{ deveased.id }}</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-2 col-sm-2"></div>
                </div>
                {# Deveased Share Link #}


                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'root/bs/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'memorial/js/script.js' %}"></script>
<script src="{% static 'root/bs/js/popper.min.js' %}"></script>
<script src="{% static 'root/bs/js/bootstrap.min.js' %}"></script>
<br>
</body>
{% include 'partials/footer.html' %}
</html>