{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" href="{% static 'memorial/css/counter.css' %}">
    <link rel="stylesheet" href="{% static 'memorial/css/text_headR.css' %}">
    <link rel="stylesheet" href="{% static 'memorial/css/ostanha.css' %}">
{% endblock %}
{% block body %}
    {% include 'memorial/header.html' %}
    {% include 'memorial/search.html' %}
    {% include 'memorial/counter.html' %}
    {% include 'memorial/ostanha.html' %}

{% endblock %}