{% load i18n %}
{% load static %}
<div class="row" dir="rtl">
    <div class="col-md-3 col-sm-1"></div>
    <div class="col-md-6 col-sm-10" style="margin-top: 10px;" dir="rtl">
        <div class="animated rubberBand"
             style="background: #2c3e50; border-radius: 5px;  color: #ffffff;">
            <div class="row" style="padding:20px 0 0 0">
                <div class="col-md-6">
                    <a href="#">
                        <button type="button" class="btn btn-outline-success"
                                style="padding: 20px 100px 20px 100px">{% trans 'استان 1' %}</button>
                    </a>
                </div>
                <div class="col-md-6>">
                    <a href="#" class="col-md-6">
                        <button type="button" class="btn btn-outline-success"
                                style="padding: 20px 100px 20px 100px">{% trans 'استان 2' %}</button>
                    </a>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="col-md-3 col-sm-1"></div>
</div>