{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" href="{% static 'memorial/css/counter.css' %}">
    <link rel="stylesheet" href="{% static 'memorial/css/text_headR.css' %}">
    <link rel="stylesheet" href="{% static 'memorial/css/ostanha.css' %}">
{% endblock %}
{% block body %}
    {% include 'memorial/header.html' %}
    <div class="row" dir="rtl" style="padding: 0 0 20px 0">
        <div class="col-md-3 col-sm-1"></div>
        <div class="col-md-6 col-sm-10" style="margin-top: 10px;" dir="rtl">
            <div class="animated rubberBand"
                 style="background: #2c3e50; border-radius: 5px;  color: #ffffff;">
                <div class="row">
                    <div class="col-xl-2 col-sm-2"></div>
                    <div class="col-xl-8 col-sm-8">
                        <p style="text-align: center;font-weight: bold;padding: 10px 0 0 0 ; color: #4acdff">
                            استان {{ citys.stateName }}
                        </p>
                    </div>
                    <div class="col-xl-2 col-sm-2"></div>
                </div>
                {% for citys in citys.citylist %}
                    <div class="row" style="padding:10px 0 10px 0">
                        <div class="col-xl-1 col-sm-1"></div>
                        <div class="col-xl-5 col-sm-5">
                            <a href="{% url 'memorial:city' citys.0.id %}" style="text-decoration:none">
                                <button type="button" class="btn btn-outline-success btn-block" style="color: #d9ff00;font-weight: bold"
                                >{{ citys.0.city }} : <span style="color: #c82333">{{ citys.0.citydeads.all.count }}</span></button>
                            </a>
                        </div>
                        <div class="col-xl-5 col-sm-5">
                            {% if citys.1 %}
                                <a href="{% url 'memorial:city' citys.1.id %}" style="text-decoration:none">
                                    <button type="button" class="btn btn-outline-success btn-block" style="color: #d9ff00;font-weight: bold"
                                    >{{ citys.1.city }} : <span style="color: #c82333">{{ citys.1.citydeads.all.count }}</span></button>
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-xl-1 col-sm-1"></div>
                    </div>
                {% endfor %}
            <p style="text-align: center;padding: 10px 0 10px 0">
                <a href="/" class="btn btn-outline-warning">بازگشت به صفحه اصلی</a>
            </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-1"></div>
    </div>

{% endblock %}