{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Dashboard' %}{% endblock %}
{% block head %}
    {#    <link rel="stylesheet" href="{% static 'memorial/css/counter.css' %}">#}
{% endblock %}
{% block body %}
    {% include 'memorial/dash-head.html' %}

    <div class="row">
        <div class="col-md-3 col-sm-1"></div>
        <div class="col-md-6 col-sm-10" style="margin-top: 10px;">
            <div class="animated rubberBand"
                 style="background: #2c3e50; border-radius: 5px; padding: 15px; color: #ffffff;">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <a href="{% url 'memorial:list_Deveased' %}" style="text-decoration:none">
                            <button type="submit"
                                    class="btn btn-warning btn-block">{% trans "List of my memorial pages" %}</button>
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <a href="{% url 'memorial:add_Deveased' %}" style="text-decoration:none">
                            <button type="submit"
                                    class="btn btn-warning btn-block">{% trans "Add a new deceased" %}</button>
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <a href="{% url 'memorial:list_ziarat' %}" style="text-decoration:none">
                            <button type="submit"
                                    class="btn btn-warning btn-block">{% trans "My proxy pilgrimage request list" %}</button>
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <a href="{% url 'memorial:add_Ziarat' %}" style="text-decoration:none">
                            <button type="submit"
                                    class="btn btn-warning btn-block">{% trans "Request for a new proxy pilgrimage" %}</button>
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <br>
{#                <div class="row">#}
{#                    <div class="col-md-1"></div>#}
{#                    <div class="col-md-10">#}
{#                        <a href="#" style="text-decoration:none">#}
{#                            <button type="submit"#}
{#                                    class="btn btn-warning btn-block">{% trans "Help and support us" %}</button>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="col-md-1"></div>#}
{#                </div>#}

            </div>
        </div>
        <div class="col-md-3 col-sm-1"></div>
    </div>

{% endblock %}