{% extends 'base.html' %}
{% load jformat %}
{% load static %}
{% load i18n %}
{% block title %}لیست یادبودهای ایجاد شده |{% endblock title %}
{% block head %} {% endblock head %}
{% block body %}

    <div class="row">
        <div class="col-xl-1 col-sm-1"></div>
        <div class="col-xl-10 col-sm-10" style="margin-top: 10px;">
            <div class="animated rubberBand"
                 style="background: #340101; border-radius: 5px; padding: 20px; color: #ffffff;">
                <div style="text-align: center; color: #faf5bb" dir="rtl">
                    <div class="row">
                        <div class="col-md-7" style="text-align: right" dir="rtl">
                            <div class="row">
                                <div class="col-md-8">
                                    {{ marhom.name }}
                                </div>
                                <div class="col-md-4">
                                    تاریخ ایجاد: {{ marhom.created|jformat:"%d-%m-%Y" }}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-7">
                                        وضعیت فعلی: حذف شده
                                </div>
                                <div class="col-md-5">
                                    {{ marhom.state }} - {{ marhom.city }}
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-md-5" style="alignment: center">
                            {% if marhom.picture %}
                                <img src="{{ marhom.picture.url }}" alt="{{ marhom.name }}" height="360px"
                                     width="360px">
                            {% else %}
                                <img src="{% static 'memorial/pic/rajeon.jpg' %}" alt="{{ marhom.name }}"
                                     height="90%" width="90%">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-1 col-sm-1"></div>
    </div>

{% endblock %}