{% load i18n %}
<div class="row">
    <div class="col-md-3 col-sm-1"></div>
    <div class="col-md-6 col-sm-10" style="margin-top: 10px;">
        <div class="animated rubberBand"
             style="background: #2c3e50; border-radius: 5px; padding: 20px; color: #ffffff;">
            <div>
                <div style="margin-left: 10%; margin-right: 10%">
                    <div class="form-group">
                        {{ form.as_p }}
                        <a href="./#"
                           onclick="window.location.href = '/' + document.getElementById('inputSearch').value;"
                           style="text-decoration: none;font-weight: bold">
                            <button type="submit"
                                    class="btn btn-info btn-block"
                                    style="margin-left: 25%;width: 50%;">{% trans "Search" %}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-1"></div>
</div>