{% extends 'base.html' %}
{% load i18n %}
{% block body %}
    <section class="bg-texture">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-sm-2"></div>
                <div class="col-xl-4 col-sm-8" style="margin-top: 10px;">
                    <div class="animated rubberBand"
                         style="background: #2c3e50; border-radius: 5px; padding: 20px; color: #ffffff;">
                        <div dir="rtl" style="text-align: right">
                            <h3 class="text-center">{% trans "Verify Login" %}</h3>
                            <hr class="border-color: #ffffff;"/>

                            <form method="post" novalidate>
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.as_p }}
                                    <small id="emailHelp" class="form-text text-muted" dir="rtl">
                                        {% trans "Please enter the password sent to your number" %}
                                    </small>
                                </div>
                                <p><a class="login-link" href="#">{% trans 'Forget Your Password?' %}</a></p>
                                <button type="submit" class="btn btn-info btn-block">{% trans "Login" %}</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-2"></div>
            </div>
        </div>
    </section>
{% endblock %}