
log_format sjps escape=json
        '{'
                '"time_local":"$time_local",'
                '"remote_addr":"$remote_addr",'
                '"request":"$request",'
                '"request_url":"$request_uri",'
                '"request_time":"$request_time",'
                '"remote_user":"$remote_user",'
                '"request_method":"$request_method",'
                '"request_length":"$request_length",'
                '"request_id":"$request_id",'
                '"http_referrer":"$http_referer",'
                '"connection":"$connection",'
                '"connection_requests":"$connection_requests",'
                '"pipe":"$pipe",'
                '"time_iso8601":"$time_iso8601",'
                '"http_x_forwarded_for":"$http_x_forwarded_for",'
                '"realip_remote_addr":"$realip_remote_addr",'
                '"query_string":"$query_string",'
                '"http_cookie":"$http_cookie",'
                '"http_user_agent":"$http_user_agent",'
                '"body_bytes_sent":"$body_bytes_sent",'
                '"bytes_sent":"$bytes_sent",'
                '"http_host":"$http_host",'
                '"msec":"$msec",'
                '"server_port":"$server_port",'
                '"server_protocol":"$server_protocol",'
                '"ssl_protocol":"$ssl_protocol",'
                '"ssl_cipher":"$ssl_cipher",'
                '"status":"$status",'
                '"upstream_response_time":"$upstream_response_time",'
                '"upstream_addr":"$upstream_addr",'
                '"upstream_connect_time":"$upstream_connect_time"'
        '}';


    access_log  /home/saeid/site/Base/zTemp/logs/nginx.access sjps;


server {
    server_name yadbod.cf www.yadbod.cf;

    location = /favicon.ico { access_log off; log_not_found off; }

    error_log  /home/saeid/site/Base/zTemp/logs/nginx.error;

    location /static/ {
        root /home/saeid/site/Base/staticfiles/;
    }
    location /media {
        autoindex on;
        alias /home/saeid/site/Base/media/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/saeid/site/Base/Base.sock;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/yadbod.cf/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/yadbod.cf/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


}
server {
    if ($host = www.yadbod.cf) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = yadbod.cf) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name yadbod.cf www.yadbod.cf;
    return 404; # managed by Certbot




}
