[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=saeid
Group=www-data
WorkingDirectory=/home/saeid/site/Base
ExecStart=/home/saeid/venvBS/bin/gunicorn --access-logfile /home/saeid/site/Base/zTemp/logs/gunicron.access --error-log /home/saeid/site/Base/zTemp/logs/gunicron.error --workers 3 --bind unix:/home/saeid/site/Base/Base.sock Base.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
